body {
    font-family: Arial;
    background-color: #202a63;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 25px;
    text-align: right;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 60px;
    font-size: 20px;
}

.operator {
    background-color: teal;
    color: white;
}